* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sectionList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0; 
}

.sectionList li {
  margin: 1.25rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(197, 56, 34, 0.631);
  padding: 2%;
}

.cartWidgetStyle {
  width: 2.8125rem;
}

.countCart {
  position: absolute;
  display: inline-block;
}

.messageProps{
  width: 18.75rem;
  border: 3px solid black;
  border-radius: 3.125rem;
  padding: 2%;
  background-color: #888;
}
